.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.product-detail--card{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-containes--slider{
    justify-content: center;
}